.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.HeadTab{
  position: fixed;
  width: 100vw;
  top:0px;
  background-color: #18a56a;
  min-height: 15vh;
  z-index: 2 ;
}
.Title{
  position: absolute;
  top: 80px;
  font-size: 35px;


}
#ButtonHead1{
  position: absolute;
  color: rgba(255, 255, 255, 0.509);
  border: none;
  background-color: #18a56a;
  top : 10px;
  left: 15%;
  font-size:  35px;
  padding: 10px 20px;
}
#ButtonHead1:hover{
  background-color: #19c37d;
  color: rgba(255, 255, 255, 0.831);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 15% 15% 15% 15%;
}
#ButtonHead2{
  position: absolute;
  color: rgba(255, 255, 255, 0.509);
  border: none;
  background-color: #18a56a;
  left: 43%;
  top: 10px;
  font-size:  35px;
  padding: 10px 20px;
}
#ButtonHead2:hover{
  background-color: #19c37d;
  color: rgba(255, 255, 255, 0.831);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 15% 15% 15% 15%;
}
#ButtonHead3{
  position: absolute;
  color: rgba(255, 255, 255, 0.509);
  border: none;
  background-color: #18a56a;
  right: 15%;
  top: 10px;
  font-size:  35px;
  padding: 10px 20px;
}
#ButtonHead3:hover{
  background-color: #19c37d;
  color: rgba(255, 255, 255, 0.831);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 15% 15% 15% 15%;
}
.App-header {
  overflow: auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  background-color: #1a1c21;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.boxInputImage {
  position: relative;
  overflow: hidden;
  top: 40vh;
  right: 27vw;
  width: 400px;
  height: 400px;
  background-color: #363a43;
  border: 3px solid #18a56aa4;
  outline: none;
  padding: 10px 14px;
  border-radius: 10% 10% 10% 10%;
  text-align: center;
}
.boxInputImage:hover{
  background-color: #9aa0a974;
  border: 5px solid #19c37d;
}
.dataBox{
  position: relative;
  top: 70vh;
  width: 800px;
  box-sizing: border-box;
  height: 500px;
  background-color: #363a43;
  border: 3px solid rgba(146, 31, 191, 0.801);
  outline: none;
  padding: 10px 14px;
  border-radius: 10% 10% 10% 10%;
  text-align: center;
}

.dataBox:hover{
  background-color: #3b3f45d5;
  border: 5px solid rgba(173, 65, 216, 0.801);
}
.resultBox {
  position: relative;
  top: 100vh;
  width: 100vw;
  height: 400px;
  background-color: #363a43;
  border: 3px solid rgba(36, 142, 255, 0.792);
  outline: none;
  padding: 10px 14px;
  text-align: center;
}

.uploadImageButton{
  position: relative;
  height:400px;
  width:400px;
  bottom: 12vh;
  text-align: center;
  line-height: 400px;
  font-size: calc(10px + 2vmin);

}
.uploadDataSetButton{
  position: relative;
  height:600px;
  width:800px;
  bottom: 12vh;
  text-align: center;
  line-height: 400px;
  font-size: calc(10px + 2vmin);

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

