
.App {
  text-align: center;
  background-color: #01162c; 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Title{
  position: absolute;
  top: 80px;
  font-size: 35px;
}

.HeadTab {
  position: fixed;
  width: 100vw;
  top: 0px;
  background-color: #18a56a;
  min-height: 15vh;
  z-index: 2;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.navbar-button {
  margin: 0 80px; 
  color: rgba(255, 255, 255, 0.8);
  border: none;
  background-color: #18a56a;
  font-size: 25px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}


.navbar-button:hover {
  color: black;
}


.App-header {
  overflow: auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  background-color: #1a1c21;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.boxInputImage {
  position: relative;
  overflow: hidden;
  top: 40vh;
  right: 27vw;
  width: 400px;
  height: 400px;
  background-color: #363a43;
  border: 3px solid #18a56aa4;
  outline: none;
  padding: 10px 14px;
  border-radius: 10% 10% 10% 10%;
  text-align: center;
}
.boxInputImage:hover{
  background-color: #9aa0a974;
  border: 5px solid #19c37d;
}
.dataBox{
  position: relative;
  top: 70vh;
  width: 800px;
  box-sizing: border-box;
  height: 500px;
  background-color: #363a43;
  border: 3px solid rgba(146, 31, 191, 0.801);
  outline: none;
  padding: 10px 14px;
  border-radius: 10% 10% 10% 10%;
  text-align: center;
}

.dataBox:hover{
  background-color: #3b3f45d5;
  border: 5px solid rgba(173, 65, 216, 0.801);
}
.resultBox {
  position: relative;
  top: 150vh;
  width: 100vw;
  height: 400px;
  background-color: #363a43;
  border: 3px solid rgba(36, 142, 255, 0.792);
  outline: none;
  padding: 10px 14px;
  text-align: center;
}

.uploadImageButton{
  position: relative;
  height:400px;
  width:400px;
  bottom: 12vh;
  text-align: center;
  line-height: 400px;
  font-size: calc(10px + 2vmin);

}
.uploadDataSetButton{
  position: relative;
  height:600px;
  width:800px;
  bottom: 12vh;
  text-align: center;
  line-height: 400px;
  font-size: calc(10px + 2vmin);

}
.App-link {
  color: #61dafb;
}
