.camera-container{
  position: relative;
  top: 60vh;
  left: 0vw;
  width: 400px;
  box-sizing: border-box;
  height: 300px;
  background-color: #363a43;
  border: 3px solid rgba(191, 180, 31, 0.801);
  outline: none;
  padding: 10px 14px;
  border-radius: 10% 10% 10% 10%;
  text-align: center;
  opacity: 50%;
  
  }
.start-button{
  position: relative;
  left: 450px;
}
.stop-button{
  position: relative;
  left: 450px;
}
.timer{
  position: relative;
  left: 450px;
  bottom: 120px;
}
.boxSnapImage {
  position: relative;
  object-fit: cover;
  top: 40vh;
  right: 27vw;
  width: 400px;
  height: 300px;
  background-color: #363a43;
  border: 3px solid #18a56aa4;
  outline: none;
  padding: 10px 14px;
  border-radius: 10% 10% 10% 10%;
  text-align: center;
}
.switch-cam {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch-cam input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-cam {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0000;
  transition: .4s;
  border-radius: 34px;
}

.slider-cam:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider-cam {
  background-color: #21f344;
}

input:checked + .slider-cam:before {
  transform: translateX(65px);
}