.cbir-container{
    background-color: #1c1c2774;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    padding: 20px;
    margin: 130px auto 20px auto;
}
.cbir-container h1{
    color: white;
    font-family: 'Helvetica', sans-serif;
}