/* styles.css */


.container {
    width: 500px; 
    margin: 0 auto;
    padding: 20px;
    align-items: center;
  
}
.react-paginate {
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
    margin: 0 auto; 
   
  }
  
  .react-paginate li {
    margin: 0 10px; 
  }
  
  .react-paginate a {
    padding: 8px; 
    color: rgb(0, 0, 0);

    border: 1px solid rgba(36, 142, 255, 0.792); 
    border-radius: 4px; 
    background-color: rgb(226, 226, 226);
    
  }
  
  .page-item {
    margin: 0;
  }
  
  .page-link {
    padding: 10px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .page-item.active .page-link{
    color: rgb(0, 0, 0);
    background-color: rgba(124, 255, 255, 0.683);
    border-color: aqua;
    
  }
  
  .page-item:hover .page-link {
    background-color: #7d7c7c;
  }
  .Searchbtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .Searchbtn:hover {
    background-color: #0b4871;
    transform: translateY(-2px);
  }
  
  .Searchbtn:active {
    background-color: #0b4871;
    transform: translateY(1px);
    box-shadow: none;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #53db34;
    color: #fff;
    border-radius: 5px;
  }
  .custom-file-upload:hover{
    background-color: #3b8b29;
  }
  
  #fileList {
    margin-top: 20px;
  }
  